* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

#container {
    font-family: 'Open Sans', sans-serif;
}


section {
    width: auto;
    max-width: 900px;
    height: inherit;
    margin: auto;
}

section#head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    width: 100%;
    height: 60px;
    position: fixed;
    background-color: #222831;
    color: #eeeeee;
    z-index: 4;
    transition: all 0.5s;
}

#mobile-sub-menu {
    opacity: 0;
    display: none;
}

#bars, #times {
    display: none;
    opacity: 0;
    position: absolute;
    right: 1em;
}

header a {
    text-decoration: none;
    color: #eeeeee;
}

header ul li:hover {
    cursor: pointer;
    transform: scale(0.9);
}

header section ul {
    display: flex;
    list-style-type: none;
}

#web-nav li {
    transition: all 0.2s;
    margin-left: 20px;
    font-size: 14px;
    margin-right: 1em;
}

header div {
    margin-left: 1em;
}

header div h5 {
    font-weight: normal;
}

#about {
    background-color: #eeeeee;
    color: #222831;
    padding-bottom: 80px;
}

section#about-section {
    padding-top: 45px;
    position: relative;
}

#about h3 {
    font-size: 25px;
    transition: all 0.5s;
}

#about h3, #about h5 {
    transition: all 0.5s;
}

#about-text {
    height: 150px;
    padding-top: 100px;
    transition: all 0.5s;
    margin: 0 1em;
}

#about-menus {
    margin-top: 10px;
    height: 150px;
    transition: all 0.5s;
    margin-left: 3px;
    margin-right: 3px;
}

nav {
    position: relative;
}

nav ul {
    list-style-type: none;
    margin-left: 10px;
}

nav ul li {
    padding: 20px;
    display: inline-block;
    font-size: 13px;
    transition: all 0.2s;
}

nav ul li.menu-active {
    background-color: #393e46;
    color: #eeeeee;
}

nav ul li.menu-active:hover {
    background-color: #393e46;
}

.menu-heading {
    border-radius: 10px 10px 0 0;
}

.menu-heading:hover {
    cursor: pointer;
    background-color: #393e4656;
}

.sub-menu {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 200px;
    left: 0px;
    top: 57px;
    padding: 0;
    opacity: 0;
    transition: all 0.5s;
}

.sub-menu ul {
    display: flex;
    flex-direction: column;
    background-color: #393e46;
    padding: 1% 2%;
    max-width: 320px;
    height: 220px;
    position: relative;
    justify-content: space-around;
    border-radius: 10px;
}

#interests ul{
    border-radius: 0 10px 10px 10px;
}

.sub-menu ul li {
    margin: 5px 0;
    padding: 0;
    color: #eeeeee;
}

.sub-menu ul li i {
    margin-right: 10px;
}


#exit-menu {
    position: absolute;
    top: 108%;
    left: 295px;
    font-size: 20px;
    pointer-events: all;
    z-index: 3;
    color: #eeeeee;
    opacity: 0;
    transition: all 0.2s;
}

#exit-menu:hover {
    cursor: pointer;
}

section#slider-section {
    overflow: hidden;
}

#slider-container {
    width: 90%;
    margin: auto;
    position: relative;
    margin-top: 20px;
    overflow: hidden;
    outline: 7px solid #222831;
    height: 400px;
}

#slider {
    width: 100%;
    white-space: nowrap;
    font-size: 0;
    transition: all 0.7s;
}

.slider-item {
    width: 100%;
    height: 100%;
    display: inline-block;
    font-size: 14px;
}

.slider-item h4 {
    float: right;
    opacity: 0.8;
    text-shadow: 0px 0px 3px #222831;
    margin-right: 5px;
    font-size: 18px;
}

.first {
    background-image: url("../images/kl.jpg");
    background-size: cover;
    color: #eeeeee;
}

.second {
    background-image: url("../images/sd.jpg");
    background-size: cover;
    color: #eeeeee;
}

.third {
    background-image: url("../images/lund.jpg");
    background-size: cover;
    color: #eeeeee;
}

.btn {
    width: 30px;
    height: 30px;
    background-color: #00adb5;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    position: absolute;
    top: 50%;
    margin-top: -15px;
    opacity: 0.75;
    transition: all 0.2s;
}

.btn:hover {
    transform: scale(0.8);
    cursor: pointer;
}

.right {
    right: 0;
}

#quick-bar {
    position: absolute;
    bottom: 5px;
    left: 50%;
    margin-left: -82.5px;
    display: flex;
}

.quick-nav {
    height: 5px;
    width: 50px;
    background-color: #eeeeee;
    margin-right: 5px;
    opacity: 0.8;
    transition: all 0.5s;
}

.quick-nav:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.nav-active {
    background-color: #00adb5;
}

div#work {
    background-color: #393e46;
    color: #eeeeee;
    padding: 80px 0;
}

section#work-section h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

section#work-section h3 {
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 1px;
}

#experience {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.experience-item {
    width: 30%;
    margin: 10px 0;
}

.experience-item h5 {
    font-size: 18px;
    font-weight: normal;
}

.experience-item p {
    font-size: 14px;
    color: #00acb584;
}

hr {
    margin: 3px 0;
}

#work-hr {
    margin: 10px 0;
}

.project-item {
    display: flex;
}

.project-image {
    text-align: center;
}

.project-image img {
    width: 128px;
    height: 128px;
}

img#salammbo {
    background-color: #eeeeee;
    width: 90px;
    height: 90px;
    margin: 20px;
    margin-bottom: 0;
}

.project-text {
    padding-top: 30px;
}

.project-text p {
    font-weight: lighter;
    font-size: 14px;
}

#contact {
    background-color: #222831;
    color: #eeeeee;
    padding: 30px;
}

section#contact-section {
    text-align: center;
    display: flex;
    flex-direction: column;
}

#contact-form {
    width: 80%;
    margin: auto;
}

#contact-form input{
    margin-top:10px;
    height: 30px;
}

#name-email {
    display: flex;
    justify-content: center;
}

#name-email input {
    width: 50%;
}

#name {
    margin-right: 1%;
}

#message {
    width: 100%;
}

#send-button {
    float: right;
    background-color: #393e46;
    width: 60px;
    height: 30px;
    line-height: 30px;
    margin-top: 10px;
    transition: all 0.2s;
    font-size: 14px;
}

#send-button:hover {
    cursor: pointer;
    transform: scale(0.9);
}

#contact ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin: 20px;
}

#contact ul li i{
    font-size: 20px;
}

#contact ul li p { 
    font-size: 15px;
    margin-right: 5px;
    margin-left: 15px;
}

#contact ul a {
    text-decoration: none;
    color: #eeeeee;
}

.fa-whatsapp:hover, #contact span:hover {
    cursor: pointer;
}

@media (max-width: 500px) {

    #bars {
        opacity: 1;
    }

    #bars, #times {
        transition: all 0.5s;
        display: block;
    }

    #web-nav li {
        display: none;
    }

    #mobile-sub-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 60px;
        background-color: #222831;
        color: #eeeeee;
        width: 100px;
        transition: all 0.5s;
        z-index: 1;
        pointer-events: none;
        border-radius: 0 0 10px 10px;
    }
    
    #mobile-sub-menu li{
        transition: all 0.5s;
        margin: 10px;
        font-size: 14px;
    }

    nav ul {
        text-align: center;
        margin: auto;
        /* width:90%; */
    }

    .sub-menu ul {
        /* width: 100%; */
        /* margin: 0 1em; */
        margin: auto;
        text-align: center;
        /* left: 50%;
        margin-left: -160px;
        width: auto; */
    }

    #interests ul {
        border-radius: 10px;
    }

    nav ul li {
        font-size: 12px;
    }

    .slider-item {
        background-position: center;
    }

    .slider-item h4{
        font-size: 12px;
    }

    #experience {
        flex-direction: column;
    }

    .experience-item {
        width: 100%;
    }

    section#work-section {
        margin: 0 1em;
    }

    .project-item {
        flex-direction: column;
        align-items: center;
        text-align: center;
        /* margin: 0 1em; */
    }

    #reversi-text {
        padding-top: 0;
    }

    #name-email {
        flex-direction: column;
    }

    #name-email input {
        width: 100%;
    }

    #contact ul {
        margin: 15px 10px;
    }

    #contact ul li i{
        font-size: 14px;
    }

    #contact ul li p {
        font-size: 10px;
    }
}